BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterClass: true
  AfterNamespace: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true